@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our </h1>
    <h1 class="display-2">Attendance</h1>
    <h1 class="display-4">app</h1>
</div>
